*{
margin: 0;
}


header{
    background-color: darkred;
    display: flex;
    justify-content: space-around;
}


.quadrado{
    height: 100px;
    width: 100px;
    background-color: darkred;
    border: 2px;
    box-sizing: border-box;
    
}
#conteiner{
align-items: center;
    height: 600px;
    background-color:rgb(26, 19, 19);
    display: flex;
    flex-direction: column;
}
img{
    height: 400px;
    width: 400px;
}
h2{
    color: whitesmoke;
}
button{
    height: 20px;
    
}