/* reset básico do CSS */
*{
    padding: 0;
    margin: 0;
}
p{
    background-color: darkred;
}

/* todo paragrafo que estiver dentro de um <li> receberá o design abaixo */
li p{
    background-color: gold;
}

/*  todo paragrafo que estiver dentro de um <li> que está dentro de uma <ol> receberá o design abaixo */
ol li p{
    background-color: blue;
}